@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  p,
  button,
  a {
    @apply font-body;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading font-normal tracking-wider;
  }

  h1 {
    @apply text-5xl md:text-6xl tracking-wider;
  }

  h2 {
    @apply text-4xl md:text-5xl tracking-wide;
  }

  h3 {
    @apply md:text-3xl text-2xl;
  }

  h4 {
    @apply md:text-2xl text-xl;
  }

  h5 {
    @apply text-base;
  }

  h6 {
    @apply text-xs;
  }
}

@layer components {
  .alert {
    @apply sketchy-4;
  }

  .btn {
    position: relative;
    @apply sketchy-5;
    &.btn-link {
      @apply hover:underline active:underline underline-offset-4 decoration-thickness-2;
    }
  }

  .modal-box {
    @apply sketchy-2;
  }

  .page-wrapper {
    display: grid;
    grid-template-columns: 1fr min(65ch, 100%) 1fr;

    & > * {
      grid-column: 2;
    }
  }

  .page-full-bleed {
    width: 100%;
    grid-column: 1 / 4;
  }
}

@layer utilities {
  .step-height {
    height: 30rem;
    max-height: calc(100vh - 5em);
  }
  .gradient-text {
    background-color: #8289f1;
    background-image: linear-gradient(180deg, #8289f1 0%, #0e9cc3 100%);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

    &::selection,
    & > ::selection {
      /* background-color: #8289f1;
      background-image: linear-gradient(180deg, #8289f1 0%, #0e9cc3 100%);
      background-size: 100%; */
      -webkit-background-clip: text;
      background-clip: text;
      -moz-background-clip: text;
      -webkit-text-fill-color: white;
      -moz-text-fill-color: white;
      text-fill-color: white;
    }
  }

  .sketchy-outline {
    border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;

    &:before {
      content: '';
      border: 2px solid #353535;
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg);
      border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
    }
  }

  .sketchy-footer {
    border-radius: 9% 2% 0% 0% / 4% 7% 0% 0%;
  }

  .sketchy-main {
    border-radius: 4% 12% 10% 8% / 2% 2% 4% 8%;
  }

  .sketchy-toggle-switch {
    border-radius: 50% 45% 40% 50% / 40% 50% 50% 45%;
  }

  .sketchy-toggle-border {
    border-radius: 30% 35% 30% 30% / 30% 50% 30% 45%;
  }

  .sketchy-1 {
    border-radius: 255px 15px 15px 225px / 15px 225px 255px 15px;
  }

  .sketchy-2 {
    border-radius: 125px 10px 185px 20px / 25px 205px;
  }

  .sketchy-3 {
    border-radius: 15px 255px 225px 15px / 225px 15px 15px 255px;
  }

  .sketchy-4 {
    border-radius: 15px 25px 25px 155px / 225px 150px 115px 25px;
  }

  .sketchy-5 {
    border-radius: 250px 25px 20px 15px / 15px 80px 115px 105px;
  }

  .sketchy-6 {
    border-radius: 28px 100px 15px 20px / 125px 30px 225px 205px;
  }

  .sketch-icon {
    filter: url(#icon-filter);
  }

  .sketch-border {
    filter: url(#hand-drawn-border-1);
  }

  .sketch-background {
    filter: url(#hand-drawn-background-1);
  }

  .decoration-thickness-1 {
    text-decoration-thickness: 1px;
  }

  .decoration-thickness-2 {
    text-decoration-thickness: 2px;
  }

  .decoration-thickness-3 {
    text-decoration-thickness: 3px;
  }

  .decoration-thickness-4 {
    text-decoration-thickness: 4px;
  }
}

:root {
  --btn-text-case: none;
  --border-btn: 3px;
}
/*
html::after {
  content: '';
  position: fixed;
  width: 100%;
  margin-top: 150px;
  height: 999px;
  bottom: -100%;
  z-index: -1;
  background-color: green;
} */
