!.eslintrc.js
!**/.eslintrc.js
dist
**/dist
**/dist/**
build
**/build
**/build/**
/node_modules
**/node_modules/**
.out
public
coverage

.cache
**/.next
lerna.json
.yarn/**

**/temp/**

pnpm-lock.yaml
/pnpm-lock.yaml
.pnpm-store/

**/src/generated

.anchor
target

**/.svelte-kit
packages/kickjump__edgedb/src
