{
  "**/*.js": [
    "prettier --write --ignore-path .eslintignore"
  ],
  "*.{json,yml,yaml}": [
    "prettier --write --ignore-path .eslintignore"
  ],
  "*.{md,mdx}": [
    "prettier --write --ignore-path .eslintignore"
  ],
  "{packages,apps,tests}/**/*.{ts,tsx,js}": [
    "eslint --fix",
    "prettier --ignore-path .eslintignore --write"
  ],
  "{programs,crates}/**/*.rs": [
    "cargo fmt --"
  ]
}
